.heading{
    font-size: 40px;
    font-family: "Comic Sans MS";
    text-align: center;
}

#gifImage{
    border-radius: 50%;
    width: 500px;
}

#gifImage:hover{
    border-width: 5px;
    border-style: outset;
    border-color: purple;
}

.table,tr,td,th{
    border-style: solid;
    border-color: blueviolet;
    border-width: 2px;
    height: 200px;
    width: 400px;
}

.td,th{

    width: 150px;
    height: 50px;
}
#banner{
    width: 200px;
    
}